@model CartBuyViewModel

@if (Model.cartBuy.CartBuyItems.Count > 0)
{
    <li>
        <a asp-controller="CartBuy">
            <span><img src="~/images/cart-5-16.ico"/></span>
            <span style="color:black">
                @Model.cartBuy.CartBuyItems.Count
            </span>
        </a>
    </li>
}